header {
    background-color: lightblue;
    height: 150px;
    width: 75%;
    float: right
}
nav {
    background-color: lightgreen;
height: 750px;
    width: 25%;
    float: left;
}
main {
    background-color: lightgrey;
    width: 50%;
    height: 600px;
    float: left;
}
aside {
    background-color: lightcoral;
    width: 25%;
    height: 600px;
    float: right;
}
footer {
    background-color: lightpink;
      height: 150px;
    width: 100%;
    float: left;
}
